<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Vídeos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"> </ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w1280/xLxgVxFWvb9hhUyCDDXxRPPnFck.jpg"
        />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Coringa (2019)</h1>
          <p>03/10/2019 (BR) - 2h 2m</p>
          <p>Crime, Thriller, Drama</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>82%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

</ion-content>
